#set($ownerName = $context.arguments.ownerName.toLowerCase())
#set($repoName = $context.arguments.repoName.toLowerCase())

{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": {
    "PK": $utils.dynamodb.toDynamoDBJson("REPO#${ownerName}#${repoName}"),
    "SK": $utils.dynamodb.toDynamoDBJson("REPO#${ownerName}#${repoName}")
  }
}
